<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grocerymanagement1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceryManagement1">
        <activity
            android:name=".AdminFiles.UploadProduct"
            android:exported="false"
            android:parentActivityName=".AdminFiles.Admin"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminFiles.Admin"
            android:exported="false" />
        <activity
            android:name=".AdminFiles.AllFruits"
            android:exported="false"
            android:parentActivityName=".AdminFiles.Admin"/>
        <activity
            android:name=".AdminFiles.AllVegetables"
            android:exported="false"
            android:parentActivityName=".AdminFiles.Admin"/>
        <activity
            android:name=".AdminFiles.AllOrganicHerbs"
            android:exported="false"
            android:parentActivityName=".AdminFiles.Admin"/>
        <activity
            android:name=".AdminFiles.NewOnSeason"
            android:exported="false"
            android:parentActivityName=".AdminFiles.Admin"/>
        <activity
            android:name=".organicHerbs"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".vegetables"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".NewSeason"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".DetailsItem"
            android:exported="false" />
        <activity
            android:name=".Fruits"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />

        <provider
            android:name=".Database.OrderProvider"
            android:authorities="com.example.grocerymanagement1"
            android:exported="true" />
    </application>

</manifest>