<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grocerymanagement1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceryManagement1">
        <activity
            android:name=".mangodetails"
            android:exported="false" />
        <activity
            android:name=".coconutdetails"
            android:exported="false" />
        <activity
            android:name=".appledetails"
            android:exported="false" />
        <activity
            android:name=".pineappledetails"
            android:exported="false" />
        <activity
            android:name=".bananadetails"
            android:exported="false" />
        <activity
            android:name=".avacadodetails"
            android:exported="false" />
        <activity
            android:name=".vegetables"
            android:exported="false" />
        <activity
            android:name=".Fruits"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>